<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Login</title>
</head>

<body class="bg-[#f1f1f1] min-h-screen flex items-center justify-center">

    <div class="flex flex-col items-center w-full">

        <!-- TITLE -->
        <div class="mb-7 text-2xl font-bold select-none text-center">
            Welcome to <span class="text-3xl text-amber-600">BagVerse</span>
        </div>

        <!-- CARD -->
        <div class="
            bg-white rounded-xl p-5 shadow-md
            w-[85%] max-w-[280px]     <!-- SUPER SMALL MOBILE SIZE -->
            md:max-w-[350px]         <!-- DESKTOP stays same -->
            md:w-[350px]
        ">

            <form action="/owner/login" method="post">
                <div class="text-center text-lg font-bold mb-6 mt-2">
                    Admin Login
                </div>

                <div class="flex flex-col">

                    <input class="bg-[#f1f1f1] outline-none rounded-lg px-3 py-2.5 mb-3 text-sm"
                        type="text" placeholder="Enter Email" name="email" required>

                    <input class="bg-[#f1f1f1] outline-none rounded-lg px-3 py-2.5 mb-4 text-sm"
                        type="password" placeholder="Enter Password" name="password" required>

                    <% if (error.length > 0) { %>
                    <div
                        class="flash-msg bg-red-100 border-l-4 border-red-500 text-red-800 
                        px-3 py-2 rounded-md shadow-md mb-3 text-xs text-center">
                        <%= error %>
                    </div>
                    <% } %>

                    <input
                        class="bg-amber-600 rounded-lg py-2.5 text-white font-bold text-base hover:bg-amber-700 transition cursor-pointer"
                        type="submit" value="Login">

                </div>

                <div class="flex justify-center gap-2 text-xs mt-3">
                    <p>Login as a User</p>
                    <a class="text-blue-800 hover:underline" href="/login">User</a>                 
                </div>
                

            </form>

        </div>

    </div>

</body> 

</html>
